*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    background-color: #809faa;

}
nav{
    margin: auto;
    padding: 2% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav logo{
    width: 120px;
 cursor: pointer;

}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
   list-style: none;
   display: inline-block;
   padding:10px 20px;
   position: relative;

}
.nav-links ul li a{
color:#fff;
text-decoration: none;
font-size:20px;

}
.nav-links ul li::after{
 content: '';
 width: 0%;
 height: 2px;
 background: #f44336;
 display: block;
 margin: auto;
 transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}


.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;

}
.title h1::after{
    content: '';
    height: 4px;
    width: 230px;
    background-color: #000;
    display: block;
    margin: auto;
}

.contact-us {
    padding: 100px 50px;
    background-color: #fff;
}

.contact-col {
    flex: 1;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col div i {
    font-size: 32px;
    color: #f00;
    margin-right: 10px;
}

.contact-col div h5 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.contact-col div p {
    font-size: 18px;
    color: #888;
    margin: 0;
}

.contact-col input[type="text"],
.contact-col input[type="email"],
.contact-col textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0)
}